body{
    background-color: lightgrey;
}
.dashboard{
    display: flex;
    flex-wrap: wrap;
}

.dashboard-box{
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

.box-content{   
    margin: 0.5em;
    width: 15em;
    display:flex;
}

.box-icon{
    margin: 10px 0px 10px 10px;
    height:60px;
    width:60px;
    background-color: rgb(87, 4, 87);
    border-radius: 10px;
}

.box-data{
    margin-top: 3px;
}

.box-text{
    margin: 5px 0px 0px 20px;
}

h3{
    font-size: 20px;
}

i{
    font-size: 30px;
    color:white;
    margin: 15px 0px 0px 11px;
}

.chart-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart-content{
    flex-grow: 1;
    background-color: #ffff;
    margin: 0 20px 20px 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 10px;
    border: 1px sold #d2d2d3;
    background-color: white;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

