<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>


</head>

<body>
    <div class="dashboard">
        <div class="dashboard-box">
            <div class="box-content">
                <div class="box-icon">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <div class="box-data">
                    <div class="box-text">
                        <h3>Orders</h3> 
                        <h4>1252</h4> 
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-box">
            <div class="box-content">
                <div class="box-icon">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <div class="box-data">
                    <div class="box-text">
                        <h3>Shipped</h3> 
                        <h4>1000</h4> 
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-box">
            <div class="box-content">
                <div class="box-icon">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <div class="box-data">
                    <div class="box-text">
                        <h3>Capacity</h3> 
                        <h4>1000/5000</h4> 
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-box">
            <div class="box-content">
                <div class="box-icon">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <div class="box-data">
                    <div class="box-text">
                        <h3>Capacity</h3> 
                        <h4>1000/5000</h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-container">
        <div class="chart-content">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"
            ></apx-chart>
        </div>
        <div class="chart-content">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"
            ></apx-chart>
        </div>
        
      </div>


    <div class="processed-num"></div>
    <div class="warehouse-capacity"></div>

</body>

</html>