<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
</head>
<body>
    <div class="toolbar" role="banner">
        <!-- TODO: Company Logo, could be configurable, use env/global var for src -->
        <img class="company-logo"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <!-- Menu TODO: make it into a flexbox -->
          <a aria-label="Dashboard" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Dashboard"> Dashboard </a>
          <a aria-label="Products" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Products"> Products </a>
          <a aria-label="Orders" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Orders"> Orders </a>
          <a aria-label="Suppliers" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Suppliers"> Suppliers </a>
         
        <!-- Space between Menu and User -->
          <div class="spacer"></div>

        <!-- Warehouse -->
        <!-- TODO: Add dropdown to check other warehouses??? -->
        <div class="warehouse">{{warehouse.location}}</div>
        <div class="vl"></div>

        <!-- Profile Picture -->
        <svg class ="profile-picture-svg">
          <rect class="svg-background"></rect>
          <text class="svg-text" x="15"
          y="20">{{employee.firstName[0] + employee.lastName[0]}}</text>
        </svg>  

        <!-- User -->
        <!-- TODO: Add dropdown for logout, etc. -->
        <span class="employee-name">{{employee.firstName}}</span>
      </div>
</body>
</html>